#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  text-align: center;
}

#top .top-child {
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
}

#middle {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
  padding: 20px 0px 20px 0px;
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 20px;
}

div[id^="middle-child"] {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}

#middle #middle-child01 {
  position: absolute;
  top: 100px;
  left: 100px;
}

#middle #middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
}

#middle #middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
}

#bottom {
  width: 800px;
  height: 300px;
  /* text-align: center; */
  background-color: #87ceeb;
}

div[id^="bottom-child"] {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}

#bottom #bottom-child02 {
  position: relative;
  left: 200px;
}

#bottom #bottom-child03 {
  position: relative;
  left: 400px;
}